body{
	color: Snow;
	background: MidnightBlue;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	color: Gold;
}

p {
  margin: 25px;
}

h1 {
  margin: 25px;
}

h3 {
  margin: 25px;
}

img {
  margin-left: 25px;
  margin-right: 25px;
}

div {
  width: 1000px;
  border: 15px solid black;
  padding: 25px;
  margin: 20px;
}